<div class="parent">

  <div class="section yellow">
    <form [formGroup]="form" (submit)="createNote()">
      <!-- <label for="id">ID</label>
      <br />
      <input
        type="text"
        name="id"
        id="id"
        class="input"
        placeholder="Enter ID"
        readonly
      />
      <br /> -->
      <label for="title">Title</label>
      <br />
      <input
        type="text"
        name="title"
        id="title"
        class="input"
        placeholder="Enter title"
        formControlName="title"
      />
      <br />
      <label for="date">Date</label>
      <br />
      <input
        type="date"
        name="dob"
        id="dob"
        class="input"
        placeholder="Enter date"
        formControlName="date"
      />
      <br />
      <label for="text">Note</label>
      <br />
      <textarea
        type="text"
        name="text"
        id="text"
        class="text"
        placeholder="Enter your note"
        formControlName="content"
      ></textarea>
      <br />
      <button type="submit" class="add" [disabled]="!form.valid">Save</button>
    </form>
  </div>
  <div class="section purple">
    <div class="search">
      <label class="search_label">

        <b>Tìm kiếm</b>
      </label>
      <input
        type="text"
        [(ngModel)]="searchText"
        placeholder="Tìm kiếm"
        class="search-input"
      />
    </div>
    <table>
      <tr>
        <!-- <th>Id</th> -->
        <th>Title</th>
        <th>Date</th>
        <th>Note</th>
        <th>Management</th>
      </tr>
      <tr *ngFor="let note of note$ | async">
        <!-- <td>{{ note.id }}</td> -->
        <td>{{ note.title }}</td>
        <td>{{ note.date }}</td>
        <td>{{ note.content }}</td>
        <td>
          <button class="delete" (click)="deleteNote(note.id)">Delete</button>
          <button class="update">Update</button>
        </td>
      </tr>
    </table>
  </div>
</div>
